* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    height: 100vh;
    font-family: 'Kalam', cursive;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* -------------FRAME-------------------------- */
#black-outer {
    background: black;
    display: flex;
    height: 320px;
    width: 560px;
    padding: 1rem;
    position: relative;
    top: 0;
}

#cork {
    width: calc(560px - 1rem);
    background: rgb(172, 97, 4);
    display: flex;
    padding: 1rem;
}

#black-inner {
    width: calc(560px - 4rem);
    background: black;
    display: flex;
    padding: 1rem;
}

#whiteboard {
    width: calc(560px - 4rem);
    background: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* -------------GRID-------------------------- */

#block-container {
    display: grid;
    grid-template: repeat(2, 1fr) / repeat(4, 100px);
    height: calc(100% - 2rem);
}

#block {
    margin: 0.25rem;
}

.block-subject {
    border: 1px solid;
    display: grid;
    grid-template: repeat(4, auto) / repeat(4, auto)
}

/* -------------BLOCK NAMES-------------------------- */

#block-name {
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid;
    font-size: 1.5%;
    grid-column: 1 / -1;
}

/* -------------NUMBER BUTTONS-------------------------- */

.block-subject button {
    font-family: 'Kalam', cursive;
    padding: 0;
    background: none;
    border: none;
    font-size: 1.25%;
}

.activated-animation:hover {
    animation: btnHover 0.2s ease 0s infinite alternate;
}

@keyframes btnHover {
    from {font-weight: 300;}
    to {font-weight: 700;}
}

/* -------------TOOLS-------------------------- */

#tools-container {
    height: 100%;
    width: 100%;
    display: flex;
    position: relative;
}

#eraser {
    border: 1px solid rgb(79, 79, 79);
    border-radius: 10px;
    height: 100%;
    width: 45%;
    margin-left: 2.5%;
}

#eraser-cup {
    height: 50%;
    width: 50%;
    background: linear-gradient(to left, rgb(228, 228, 228) 65%, gray);
    position: absolute;
    bottom: 0;
}

#markers {
    margin-left: 2.5%;
    display: flex;
    width: 50%;
    justify-content: center;
}

#markers-cup {
    height: 50%;
    width: 50%;
    background: linear-gradient(to left, white 50%, gray);
    position: absolute;
    bottom: 0;
    right: 0;
}

#green-marker,
#red-marker {
    margin: 0;
    padding: 0;
    width: 45%;
    border: 1px solid rgb(79, 79, 79);
}

#green-marker {
    background: lightgreen;
}

#red-marker {
    background: lightcoral;
}

#eraser:hover,
#green-marker:hover,
#red-marker:hover {
    cursor: pointer;
    background: lightgray;
    border: 3px solid black;
}

@media (min-width: 768px) {
    #black-outer {
        transform: scale(1.3);
    }
}

@media (min-width: 1024px) {
    #black-outer {
        transform: scale(1.7);
    }
}

@media (min-width: 1440px) {
    #black-outer {
        transform: scale(2.5);
    }
}

@media (orientation: portrait) {
    #black-outer {
        transform: rotate(90deg);
        height: 320px;
        width: 560px;
    }
}